.homeDesign {

    height: 90vh;
    width: 100vw;

    background-color: white;
    background-image: url(../../images/columna-vertebral.jpg);

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
}

