.deleteUserDesign {

    height: 90vh;
    width: 100vw;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.buttonToDelete {

    background-color: rgb(239, 117, 117, 0.5);
    height: 5vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.1em solid black;
    margin-top: 1em;
    margin-bottom: -0.1em;

}

.buttonToDelete:hover {

    transition: 0.4s;
    background-color: red;
    cursor: pointer;
}

.spaceBetweenButtonAndMessage {

    height: 2em;
}

.alertMessage {

    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

.buttonToCancelAccount {

    background-color: rgba(117, 239, 152, 0.5);
    height: 5vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.1em solid black;
    margin-top: 1em;
    margin-bottom: -0.1em;

}

.buttonToCancelAccount:hover {

    transition: 0.4s;
    background-color: green;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .alertMessage {

        color: red;
        font-size: 1em;
        font-weight: bold;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .buttonToDelete {

        background-color: rgb(255, 0, 0);
        height: 10vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: 0.1em solid black;
        margin-top: 1em;
        margin-bottom: -0.1em;
    
    }

    .buttonToCancelAccount {

        background-color: rgb(0, 255, 72);
        height: 10vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: 0.1em solid black;
        margin-top: 1em;
        margin-bottom: -0.1em;
    
    }
}