.appointmentsDesign {

    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    color: black;
}

.errorMsg {

    color: rgb(231, 132, 132);
    font-weight: bolder;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.calendarDesign {

    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardAppointmentDesign {

    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.react-calendar {

    background-color: rgb(182, 189, 195);
    border-radius: 5%;
}