.superAdminManageUsersDesign {

    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/run_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.titleManageUsers {

    height: 5vh;
    width: 87vw;
    color: black;
    font-size: 2em;
    font-weight: bolder;
    font-style: italic;
    display: flex;
}

.spaceUpperSpecialtyInput {

    width: 2em;
    height: 0.5em;
}

.cardSaUsersDesign {

    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputsToEditDesign {
    background-color: grey;
    height: 75vh;
    width: 29vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.selectUsers {

    margin-bottom: 2em;
}

.buttonBottomBed {

    height: 3em;
    width: 8em;
    border-radius: 1em;
    background-color: rgb(105, 216, 105);
    border: 0.1em solid black;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.buttonBottomBed:hover {

    transition: 0.4s;
    background-color: rgb(107, 252, 182);
    cursor: pointer;
}

.buttonsManageUserDesign {

    display: flex;
    justify-content: space-around;
}

.pictureUser {
    
    height: 9vh;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1em solid black;
    border-radius: 1em;
    
}

.buttonBedDeleteUser {

    height: 3em;
    width: 8em;
    border-radius: 1em;
    background-color: rgb(105, 216, 105);
    border: 0.15em solid rgb(255, 0, 0);
    color: red;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.buttonBedDeleteUser:hover {

    transition: 0.4s;
    background-color: red;
    color: white;
    cursor: pointer;
}

.changeRoleUser{

    height: 2.5em;
    width: 13.5em;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    border: 0.1em solid black;
    margin-bottom: 1em;
}

.buttonBottomBedChangeRole {

    height: 3em;
    width: 8em;
    border-radius: 1em;
    background-color: rgb(105, 216, 105);
    border: 0.15em solid orange;
    color: rgb(157, 115, 37);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.buttonBottomBedChangeRole:hover {

    transition: 0.4s;
    background-color: orange;
    color: white;
    cursor: pointer;
}

