.superAdminProfileDesign {

    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/run_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.dinamicPartAdministrationDesign {


    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleAdministration {

    height: 10vh;
    width: 40vw;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: xx-large;
    font-style: italic;
    color: black;

}

.calendar {

    height: 35vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchButton {
    margin-top: 2em;
}

.cardAppointments {
    background-color: rgb(190, 190, 190, 0.5);
    height: 42vh;
    width: 26vw;
    border-radius: 5%;
}

.staticPartAdministrationDesign {
    
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ButtonsForOptions{
    
    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.saButton {

    height: 4em;
    width: 9em;
    border-radius: 1em;
    background-color:rgb(105, 216, 105);
    border: 0.1em solid black;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.saButton:hover {

    transition: 0.4s;
    background-color: rgb(107, 252, 182);
    cursor: pointer;
}

.selectAndSearch{
    
    height: 7vh;
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}