.headerDesign {

    height: 10vh;
    width: 100vw;
    background-color: rgb(19, 105, 252, 0.6);
    display: flex;
}

.logoImage {

    height: 95%;
    width: 100%;
}

.customNavBar {

    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgb(19, 105, 252, 0.6);
}

.font-weight-bold{
    font-weight: bold;
}

.insideLogoDesign {

    background-color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 4vw;
}

@media screen and (max-width: 480px) {
    .logoImage {

        height: 95%;
        width: 100%;
    }

    .insideLogoDesign {

        background-color: white;
        border-radius: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vh;
        width: 10vw;
    }
}
