.accountDesign {

    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.editDesign {

    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 99, 99);
    border-radius: 2%;
}

.MsgError {

    color: rgb(231, 132, 132);
    font-weight: bolder;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.editButton {

    height: 2em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 216, 105);
    color: white;
    cursor: pointer;
    border-radius: 1em;
    transition: 0.3s;
}

.editButton:hover {

    transition: 0.3s;
    background-color: rgb(107, 252, 182);
}

.passwordButton {

    height: 2em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 216, 105);
    color: white;
    cursor: pointer;
    border-radius: 1em;
    transition: 0.3s;
}

.passwordButton:hover {

    transition: 0.3s;
    background-color: rgb(107, 252, 182);
}

.sendButton {

    height: 2em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 1em;
    transition: 0.3s;
}

.sendButton:hover {

    transition: 0.3s;
    background-color: crimson;
}

.cancelButton {

    height: 2em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 1em;
    transition: 0.3s;
}

.cancelButton:hover {

    transition: 0.3s;
    background-color: crimson;
}

.spaceBetweenButtons{
    height: 1em;
}

.inputDesign{
    color: rgb(0, 0, 0);
}

.successfully{
    height: 2em;
    color: rgb(107, 252, 182);
    font-weight: bolder;
}